body{
    background-color: #e6f7ff;
    font-family: Arial, sans-serif;
}

h1{
    color: #0056b3;
    text-align: center;
    font-size: 40px;
    font-family: 'Arial Black', sans-serif;
}

fieldset{
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
input{
    padding: 8px;
    margin: 5px 0;
    border: 1px solid gray;
    border-radius: 5px;
}